@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

}

#root{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #573B79
}

input[type="text"], input[type="password"] {
    outline: none;
    border-bottom: solid #E5E5E5  1px;
}