@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

}

#root{
    width: 100vw;
    overflow: auto;
}

input[type="text"], input[type="password"] {
    outline: none;
    border-bottom: solid #E5E5E5  1px;
}