@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    input[type="text"], input[type="password"] {
        outline: none;
        border-bottom: solid #E5E5E5  1px;
    }
    
    .search {
        border-bottom: none;
    }
}


#root{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #6A518A
}

